.postbutton-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  background-color: #f8f9fa; 
  border-bottom: 1px solid #dee2e6; 
}

.postbutton {
  width: 200px;
  height: 50px;
  background-color: #f8f9fa; 
  border: 1px solid #dee2e6; 
  border-radius: 5px; 
  cursor: pointer;
}
