* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; 
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: white;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px; 
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.profile-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #dee2e6;
  cursor: pointer;
}

.auth-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: calc(100% - 20px); 
}

.auth-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  margin-bottom: 10px; 
}

.auth-form button.signup-button {
  background-color: #007bff; 
  color: white;
}

.auth-form button.login-button {
  background-color: #28a745;
  color: white;
}

.auth-form button.home-button {
  background-color: #ffc107;
  color: black;
}

.auth-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; 
}
