* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensuring the footer takes full width */
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Ensuring the container takes full width */
}

.header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px; /* Changed margin to padding */
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e9ecef;
  width: 100%; /* Ensuring the content takes full width */
}

.footer {
  height: 15%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.footerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 33.33%;
  text-align: center;
  margin-bottom: 4px;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  margin-top: 10px;
}
